<% include ../views/partials/header %>

<div id="commute-menu">
  <div class="container-fluid">
    <p class="text-uppercase">Work Address: <%= location %></p>
  </div>
</div>

<div class="container col-sm-6 commute-options">

  <div class="row commute-main">
    <h4 class="text-uppercase">Summary</h4>
    <p style="color: #337AB7";><%= time %> min commute</p>
    <br>
    <div class="">
      <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-<%= icon %> fa-stack-1x fa-inverse"></i></span>
      <h4 style="display: inline;"><%= mode %></h4>
      <br><br>
      <p>Time: <%= time %> min</p>
      <p>Cost: $<%= cost %>/day</p>
      <br>
      <p><strong>Neighborhoods:</strong> Downtown, Belltown, First Hill, Capitol Hill</p>
      <p><strong>Tips:</strong> Commute times vary depending on construction, traffic, etc.</p>
    </div>
  </div>

  <div class="row commute-additional">
    <p class="text-uppercase text-center">Explore Additional Options</p>

    <% for (var i = modes.length - 1; i >= 0; i--) { %>
      <% if (modes[i].name !== mode ) { %>
        <div class="col-sm-4">
            <div class="text-center">
              <a href="/map/<%= time %>/<%= modes[i].name %>/<%= location %>"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-<%= modes[i].icon %> fa-stack-1x fa-inverse"></i></span></a>
              <h4><%= modes[i].name %></h4>
            </div>
            <p>Time: <%= time %> min</p>
            <p>Cost: $<%= modes[i].cost %>/day</p>
        </div>
        <% } %>
    <% }; %>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid col-sm-6" id="commute-map">
<!--   <span id="logo-overlay" class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-car fa-stack-1x fa-inverse"></i></span>
 -->
  <div id="map-canvas" class="" style="background-color: grey; height: 100%;">
<!--   <span class="overlay-logo"><img src="logo-blue.png"></span>
 -->  </div>
</div>


<% include ../views/partials/footer %>
